* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 28%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#count {
    color: white;
    font-size: 5rem;
}

.btn {
    padding: 10px;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

#increment-btn {
    background: greenyellow;
}

#decrement-btn {
    background: lightcoral;
}

#reset-btn {
    width: auto;
}
